n8n-workflows/tp-1-1-crypto-coingecko-complete.json
{
  "name": "tp-1-1-crypto-coingecko",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -112,
        -192
      ],
      "id": "c5db0784-751b-4499-acd5-5b0a5b1df2c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "ids",
              "value": "bitcoin,ethereum,solana"
            },
            {
              "name": "vs_currencies",
              "value": "usd,eur"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        -192
      ],
      "id": "841daae3-a007-4d1d-99e3-59dd5dac31a4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const timestamp = new Date().toISOString();\nconst data = $input.all()\n\nreturn [{\n  json: {\n    timestamp,\n    bitcoin_usd: data[0][\"json\"][\"bitcoin\"].usd,\n    bitcoin_eur: data[0][\"json\"][\"bitcoin\"].eur,\n    ethereum_usd: data[0][\"json\"][\"ethereum\"].usd,\n    ethereum_eur: data[0][\"json\"][\"ethereum\"].eur,\n    solana_eur : data[0][\"json\"][\"solana\"].eur,\n    solana_usd : data[0][\"json\"][\"solana\"].usd,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -192
      ],
      "id": "238031e5-ee75-476e-8ebe-b05139664133",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-flash-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-flash-preview"
        },
        "messages": {
          "values": [
            {
              "content": "=Voici une extraction de données crypto. Nous sommes actuellement le :  {{ $json.timestamp }}\n\nFournis une analyse de ces différentes crypto\n- BTC USD : {{ $json.bitcoin_usd }}\n- BTC EUR : {{ $json.bitcoin_eur }}\n- ETH USD : {{ $json.ethereum_usd }}\n- ETH EUR : {{ $json.ethereum_eur }}\n- SOLANA EUR : {{ $json.solana_eur }}\n- SOLANA USD : {{ $json.solana_usd }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        -192
      ],
      "id": "a88c8207-7b85-47f7-a5fc-7d0426203ce9",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "8gGwL7eKaomZIhAc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "chrysniongolo@gmail.com",
        "subject": "Analyse crypto du jour.",
        "message": "={{ $json.data }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1136,
        -192
      ],
      "id": "22947e26-8fcf-416e-9287-b415ad9917aa",
      "name": "Send a message",
      "webhookId": "2a54f043-87f0-4250-bb25-e2ec3e3bccf7",
      "credentials": {
        "gmailOAuth2": {
          "id": "FBFxHnE2iIVdBDmq",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $('Message a model').item.json.content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        912,
        -192
      ],
      "id": "d892b949-8a82-4c06-8eb6-2478ab73418a",
      "name": "Markdown"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "49691ced-e924-43cd-89e4-f8c60e00807e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9658c92e204e680fa78e8391ac8181ef476afff007519e6c6dbe3ec9fbf8487f"
  },
  "id": "mvReDcCfh8kSA4HjoWteN",
  "tags": []
}