n8n-workflows/tp-1-2-n8n-scripts-externes-cve-analysis.json
{
  "name": "tp-1-2-n8n-scripts-externes-cve-analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -832,
        -144
      ],
      "id": "099004a6-1cb3-4b4c-8f3f-9afdb1dbf6d0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.results }}",
        "options": {
          "systemMessage": "You are an Agentic Coder tasked to propose fixes on current CVE alerts. Perform a search on the way to resolve the actual CVE and propose an analysis on how to fix."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -160,
        -144
      ],
      "id": "36288a34-d2f8-4b05-82d7-ef4295377b2a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "url": "https://app.opencve.io/api/cve",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "vendor",
              "value": "n8n"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "Basic c3ZuZ29rdTpWQ3c1IiJoeFo4dW4iJjM="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -608,
        -144
      ],
      "id": "6aa302c7-509b-4efd-8f89-f86ec4ee2352",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "session-id"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        80
      ],
      "id": "c14070c7-fc5f-43d7-8512-8264de335537",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "faa0483a-06d0-477a-8967-09cc5aae1c4c",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -144
      ],
      "id": "66dc12af-d98c-4d4c-80d8-3a376a9c5bd7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2-2025-12-11",
          "mode": "list",
          "cachedResultName": "gpt-5.2-2025-12-11"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        80
      ],
      "id": "a2a226d6-7a11-4dfe-8c0c-10962861a233",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "YeVXFgmFBLSoZF8q",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "c14bb578-005e-46b7-a9a8-2452e6b58e29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9658c92e204e680fa78e8391ac8181ef476afff007519e6c6dbe3ec9fbf8487f"
  },
  "id": "_wZKqV3LsWUcLivqWG4o9",
  "tags": []
}